.createTaskBtn {
  background-color: #74c0fc;
  border: none;
  border-radius: 0.75rem;
  padding: 0.25rem 0;
  text-decoration: none;
  text-align: center;
  color: #212529;
  width: 100%;
}

.createTaskBtn:hover {
  background-color: #339af0;
  color: #edf2ff;
  transition: all 0.2s;
}
